<div class="">
		
    <!--Card-->

	    <div class="card card-inverse card-outline-primary animated fadeInUp" style="background-color: #5cb85c; border-color: #333;">
	        <!--Card content-->
	        <div class="card-block text-xs-center">
	            <!--Title-->
	            <!-- <h4 class="card-title"><strong><%= @event.pub.name %></strong></h4>             -->

	            <!-- <p class="card-text"><%= @event.pub.locality %>,<span><%= @event.pub.city %></span></p> -->
				<div class="card-footer card-inverse">
					<%= @event.pub.meet_time.strftime("%b-%d-%Y") %>		                    
				</div>
	        </div>

	        <style>
	        	.is_disabled { pointer-events: none;
	        	color: red; }
	        </style>

	        <!--/.Card content-->
	        <% @event.invites.each do |invite| %>
	        	<%= invite.user.email %> <br>
		        	<% if user_signed_in? && invite.user == current_user %>
		   		  		<div id="app">
		   		  			<%= link_to invite.opposite_state, invite, method: :patch, remote: true, class: "btn btn-danger btn-sm" %>
		   		  		</div>	
					<% end %>
	        <% end %>
			<div class="card-footer card-inverse">
				<%= link_to "Edit", edit_event_path(@event) %> | <%= link_to "Back", :back %>
			                  
			</div>
	    </div>
    <!--/.Card-->
	
</div>	