<div class="row">
  <div class="col-sm-6">
    <div class="card">
    	<div class="card-block">
	      <h3 class="card-title"><%= @pub.name %></h3>
	      <p class="card-text"><%= @pub.locality %></p>	      
	    </div>
	    <%= image_tag(@pub.image_url, class: "img-fluid") %>
	    <div class="card-block">
	        <address class="card-text"><%= @pub.location%></address>
	        
	        
	     </div>
    </div>
   </div> 

	<div class="col-sm-6">
		<div class="card card-block" style="background-color: #5cb85c; border-color: #333; color: white ">
			<%= link_to "Visit Pub", @pub.url,class: "btn btn-warning btn-block" ,:target => "_blank" %> <br/>
			<blockquote class="blockquote">
			  <p class="mb-1">Price for Two : <%= @pub.avg_cost %></p>
			  <p class="mb-0">Average Rating : <%= @pub.rating %></p>
			  <% if user_signed_in? && @invite.user == current_user %>
			  	
			  		<%= link_to "Accept", pub_invite_path(pub_id: @pub.id, id: @invite.id),data: { confirm: 'Confirm Request' },class: "btn btn-warning btn-sm", id: "accept_request", method: :patch %>
			  		<style>
			  			.is_disabled { pointer-events: none;
			  			color: red; }
			  		</style>
			  		<div id="app">
			  			
			  			<%= button_to "Cancel",pub_invite_path(pub_id: @pub.id, id: @invite.id), method: :patch, 
			  			class: "btn btn-danger btn-sm", disabled: "{'is_disabled' : is_disabled} @click = toggleClass" %>
			  		</div>	
			  	
			  <% end %>	
			</blockquote>
		</div>
	</div>
</div>



<script type="text/javascript">
	new Vue({
	  el: '#app',
	  data: {

	    is_disabled: false
	  },
	  methods: {
	  	toggleClass(e) {
	  		e.preventDefault;
	  		this.is_disabled = true;
	  	}
	  }
	});
</script>

